﻿@model SportsStore.WebUI.Models.CartIndexViewModel

@{
    ViewBag.Title = "Sklep sportowy Pablo: Twój Koszyk";
}

<h2>Twój koszyk</h2>
<table class="table">
    <thead>
        <tr>
            <th>Ilość</th>
            <th>Produkt</th>
            <th class="text-right">Cena</th>
            <th class="text-right">Wartość</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td class="text-center">@line.Quantity</td>
                <td class="text-left">@line.Product.Name</td>
                <td class="text-right">@line.Product.Price</td>
                <td class="text-right">@((line.Product.Price * line.Quantity).ToString("c"))</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Razem:</td>
            <td class="text-right">
                @Model.Cart.ComputeTotalValue().ToString("c");
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
   <a class="btn btn-primary" href="@Model.ReturnUrl">Kontynuuj zakupy</a>
</div>

